table

{

    border-collapse: collapse;
    width: 90%;
    margin: auto;
    border: 3px solid black;

}

thead, tbody, th, td

{
    border: 1px solid black;
    text-align: center;
    padding: 7px;

}